<html>
	<head></head>
	<body>
		<center>
			<h1>Bienvenido a PIKAS</h1><br/><br/>
			<h2>INSTRUCCIONES:</h2>
			<h3>
				<form action="/setup">
					<input type="submit" id="Iniciar" value="Iniciar"/>
				</form>
			</h3>
		</center>
	</body>
</html>
