<html>
	<head></head>
	<body>
		<center>
			<h1>Bienvenido a PIKAS</h1><br/><br/>
			
					
			<h2>INSTRUCCIONES:</h2>
			<h5>
				<ol>
				<li>Dar click en jugar</li>
				<li>Ingrese nombre</li>
				<li>Seleccione nivel de dificultad</li>
				<li>Continuar</li>
				</ol>
			</h5>
			
			<h3>
				<form action="/setup">
					<input type="submit" id="Iniciar" value="Iniciar"/>
				</form>
			</h3>
		</center>
	</body>
</html>
