<html>
<head>
	
</head>
<body>
	<h1>setup del juego</h1>
 <form>ingrese nombre: 
	<input type="text" name="nombre"/>
		Seleccione nivel dificultad:
	<input type="radio" name="groupdificultad1" value="BAJO" checked/>
	<input type="radio" name="groupdificultad1" value="MEDIO"/>
	<input type="radio" name="groupdificultad1" value="ALTO"/>
		
</form>
	
</body>
</html>
